/*styling the nav bar*/

.nav {
  background-color: black;
}

.nav h3 {
  color: white;
  position: relative;
  padding-left: 12%;
  bottom: 5px;
}

.hero {
  color: white;
  background-color:  #13a89e;
  padding: 5% 20%;
}

h1 {
  text-align: center;
  text-transform: uppercase;;
  font-weight: bold;
}

.hero p {
  text-align: center;
  font-weight: lighter;
}

.whitecenter {
  max-width: 900px;

}

.whatwedo {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.textboxes {
  text-align: center;
  padding-bottom: 2%;
}

.latestprojects{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.insidebox {
  height: 130px;
  background-color: #D3D3D3;
  margin: 5%;
  border: double white;
}

.bottomh3{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.footertop {
  background-color: #333333;
  height: 40px;
  color: #C0C0C0;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
}

.footerbottom {
  background-color: black;
  height: 30px;
}
